#btn{
    position: absolute;
    top: 45%;
    left: 45%;
    transition: all .2s;
    font-size: 20px;
    text-transform: lowercase;
    border: none;
    background-color: rgb(153, 15, 153);
    color: azure;
    border-radius: 3px;
    width: 100px;
    height: 30px;
}
body{
    transition: all 10s;
}
